/* TOP PAGE START */

.page-top_image {
  max-width: 100%;
  min-height: 100vh;
  &_layout {
    width: 1440px;
    height: 800px;
    object-fit: cover;
    filter: brightness(88%);
    animation: SlideIn 2.7s ;
    animation-delay: 4.0s;
    animation-fill-mode: backwards;
  }  
}


@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-top-main {
  position: fixed;
  top: 40%;
  left: 18%; 
  &_title {
  font-size: 96px;
  color: #F8ABA6;
  font-family: 'Noto Serif TC', serif;
  }
}

.site-header {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  &_title {
    position: fixed;
    top: 1%;
    left: 5%;
    float: left;
    padding: 50px;
    color: white;
    animation: SlideIn 2.7s;
    animation-delay: 6.5s;
    animation-fill-mode: backwards;
    font-family: 'Noto Serif TC', serif;
    font-size: 56px;
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.global-navigation {
  position: fixed;
  display: flex;
  top: 2%;
  left: 45%;
  &_menu {
    float: right;
    padding: 60px;
    list-style: none;
    &_item {
      font-size: 20px;
      float: left;
      padding-right: 30px;
      font-family: 'Noto Serif TC', serif;
      &_list {
        color: white;
        animation: SlideIn 2.7s;
        animation-delay: 6.5s;
        animation-fill-mode: backwards;
        font-family: 'Noto Serif TC', serif;
        &_:hover {
          color:  #F8ABA6;
          text-decoration: none;
        }
      }
    }
  }
}



@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


a {
  position: relative;
  display: inline-block;
  transition: .3s;
}

a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  background-color: #F8ABA6;
  transition: .3s;
}
a:hover::after {
  width: 100%;
}

/* TOP PAGE END */

/* SECOND SECTION START */

.second-section {
  height: 1100px;
  width: 100%; 
  &_content { 
    text-align: center;  
  }
}     
.second-section_sub_title {
  line-height: 1.7;
  margin-bottom: 150px;
  &_list { 
    font-size: 36px;
    font-family: 'Noto Serif TC', serif;
  }
}
.second-section_main { 
  margin-bottom: 100px;
  &_title {
    margin-top: 100px;
    font-size: 84px;
    color: #FBABA6;
    font-family: 'Noto Serif TC', serif; 
  }
}


.second-section_fadeInDown {
  -webkit-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:2.7s;
  -ms-animation-duration:2.7s;
  animation-duration:2.7s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
}



@-webkit-keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(-50px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(-50px); -ms-transform: translateY(-50px); transform: translateY(-50px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

.second-section_image {
  max-width: 100%;
  min-height: 100vh;
  &_img {
    width: 1440px;
    height: 550px;
    object-fit: cover;
    filter: brightness(120%);
  }
}


/* SECOND SECTION END */

/* VIEW SECTION START */

.view-section { 
  margin-top: 125px;
  &_title { 
    margin-left: 180px;
    &_name {
      font-size: 56px;
      color: #FBABA6;
      font-family: 'Merriweather', serif;
    }
  }
}



.view-first-right { padding: 50px; }

.view-first-left-img {
  width: 550px;
  height: 450px;
  object-fit: cover;
  margin-top: 75px;
}

#animation {
  margin: 50px 0;
  font-size: 40px;
  font-weight: bold;
  color: #ff0000;
  }
  
  .view-section_fadeInDown {
  -webkit-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:2.5s;
  -ms-animation-duration:2.5s;
  animation-duration:2.5s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
  }
  @-webkit-keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(-50px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
  }
  @keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(-50px); -ms-transform: translateY(-20px); transform: translateY(-50px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
  }

.view-first-heading {
  font-size: 56px;
  color: #FBABA6;
  margin-top: 75px;
  font-family: 'Merriweather', serif;
}

.first-description { line-height: 1.5; }

.view-first-right-description { 
  font-size: 32px;
  font-family: 'Noto Serif TC', serif;
}

#animation {
  margin: 50px 0;
  font-size: 40px;
  font-weight: bold;
  color: #ff0000;
  }

.view-second_left { 
  padding: 50px;
  &_heading {
    font-size: 56px;
    color: #FBABA6;
    margin-top: 75px; 
    font-family: 'Merriweather', serif;
  }
}

.view-second_left_description { 
  font-size: 32px; 
  font-family: 'Noto Serif TC', serif;
}

.second-description { line-height: 1.5; }


.view-second-right-img {
  width: 550px;
  height: 450px;
  object-fit: cover;
  margin-top: 75px;
}

.view-third-left-img {
  width: 550px;
  height: 450px;
  object-fit: cover;
  margin-top: 75px;
}

.view-third-right {
  padding: 50px;
}

.view-third-right-heading { 
  font-size: 56px; 
  color: #FBABA6;
  margin-top: 75px;
  font-family: 'Merriweather', serif;
}

.third-description { line-height: 1.5; }

.view-third-right-description {
  font-size: 32px;
  font-family: 'Noto Serif TC', serif;
}

.view-third-sub {
  text-align: center;
  line-height: 1,5;
  margin-top: 100px;
  margin-bottom: 150px;
}

.view-third-sub-title {
  color: #FBABA6;
  font-size: 36px;
  font-family: 'Noto Serif TC', serif;
}

/* VIEW SECTION END */

/* EXPERIENCE SECTION START */
.experience-section {
  background-color: #EFF4F4;
  height: 2050px;
}

.experience-section-main {
  margin-left: 180px;
  padding-top: 150px;
}

.experience-section-main-title {
  color:  #FBABA6;
  font-size: 56px;
  font-family: 'Merriweather', serif;
}

.experience-section-sub {
  margin-left: 180px;
  padding-top: 15px;
}

.experience-section-sub-title {
  color:  #FBABA6;
  font-family: 'Merriweather', serif;
}

.experience-first-left-img {
  width: 550px;
  height: 450px;
  object-fit: cover;
  margin-top: 75px;
}

.experience-first-right {
  padding: 50px;
  margin-top: 75px;
}

.experience-first-right-heading {
  font-family: 'Noto Serif TC', serif;
  font-size: 36px;
  color: #FBABA6;
}

.experience-first-right p {
  margin-top: 30px;
  line-height: 1.5;
  font-size: 24px;
  font-family: 'Noto Serif TC', serif;
}


.experience-second-left-img {
  width: 550px;
  height: 450px;
  object-fit: cover;
  margin-top: 75px;
}

.experience-second-right {
  padding: 50px;
  margin-top: 75px;
}

.experience-second-right-heading {
  font-family: 'Noto Serif TC', serif;
  font-size: 36px;
  color: #FBABA6;
}

.experience-second-right p {
  margin-top: 30px;
  line-height: 1.5;
  font-size: 24px;
  font-family: 'Noto Serif TC', serif;
  width: 540px;
}

.experience-third-left-img {
  width: 550px;
  height: 450px;
  object-fit: cover;
  margin-top: 75px;
}

.experience-third-right {
  padding: 50px;
  margin-top: 75px;
}

.experience-third-right-heading {
  font-family: 'Noto Serif TC', serif;
  font-size: 36px;
  color: #FBABA6;
}

.experience-third-right p {
  margin-top: 30px;
  line-height: 1.5;
  font-size: 24px;
  font-family: 'Noto Serif TC', serif;
}


.experience-section_fadeInDown {
  -webkit-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:2.5s;
  -ms-animation-duration:2.5s;
  animation-duration:2.5s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(-50px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(-50px); -ms-transform: translateY(-20px); transform: translateY(-50px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

// ENJOYMENT SECTION START

.enjoyment-section {
  height: 2600px;
  background-color: #EFF4F4;
  &_main_layout {
    margin-left: 180px;
    padding-top: 50px;
  }
}

.enjoyment-section_main_title {
  font-size: 56px;
  color: #FBABA6;
  font-family: 'Merriweather', serif;
}

.enjoyment-section_sub {
  margin-left: 180px;
  &_title {
    font-size: 28px;
    color: #554b4b;
    font-family: 'Merriweather', serif;
  }
}

.enjoyment-section_first_left {
  margin-top: 100px;
}

.enjoyment-section_first_right {
  padding: 60px;
  margin-top: 100px;
  &_heading {
    font-size: 48px;
    color: #FBABA6;
    font-family: 'Noto Serif TC', serif;
    margin-bottom: 15px;
  }
}

.enjoyment-section_first_right p {
  line-height: 1,5;
  font-size: 24px;
  color: #554B4B;
  margin-top: 15px;
}

.enjoyment-section_second_left {
  padding: 60px;
  margin-top: 100px;
  &_heading {
    font-size: 48px;
    color: #FBABA6;
    font-family: 'Noto Serif TC', serif;
    margin-bottom: 15px;
  }
}

.enjoyment-section_second_left p {
  font-size: 24px;
  color: #554B4B;
  line-height: 1.5;
  margin-top: 15px;
}

.enjoyment-section_second_right {
  margin-top: 100px;
}

.enjoyment-section_third_left {
  margin-top: 100px;
}

.enjoyment-section_third_right {
  padding: 60px;
  margin-top: 100px;
  &_heading {
    font-size: 48px;
    color: #FBABA6;
    font-family: 'Noto Serif TC', serif;
    margin-bottom: 15px;
  }
}

.enjoyment-section_third_right p {
  font-size: 24px;
  color: #554B4B;
  line-height: 1.5;
  margin-top: 15px;
}

.enjoyment-section_fourth_left {
  padding: 60px;
  margin-top: 100px;
  &_heading {
    font-size: 48px;
    color: #FBABA6;
    font-family: 'Noto Serif TC', serif;
    margin-bottom: 15px;
  }
}

.enjoyment-section_fourth_left p {
  font-size: 24px;
  color: #554B4B;
  line-height: 1.5;
  margin-top: 15px;
}

.enjoyment-section_fourth_right {
  margin-top: 100px;
}

// ENJOYMENT SECTION END

// PICTURE SECTION START

.photo-gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  &_single {
    position: relative;
    display: block;
    width: 14.28%;
    overflow: hidden;
    &::before {
    content: '';
    display: block;
    padding-top: 100%;
    }
  }
}

.photo-gallery_single a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.photo-gallery_single a img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  outline: none;
  border: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.photo-gallery_single_img {
  width: 303px;
  height: 303px;
  &:hover {
    opacity: 0.5;
  }
}

.picture-section_main {
  margin-left: 180px;
  margin-top: 100px;
}

.picture-section_main_title {
  font-size: 56px;
  color: #FBABA6;
  font-family: 'Merriweather', serif;
  margin-bottom: 15px;
}

.picture-section_sub {
  margin-left: 180px;
  margin-bottom: 100px;
}

.picture-section_sub_title {
  font-size: 28px;
  color: #554b4b;
  font-family: 'Merriweather', serif;
  margin-top: 15px;
}

// PICTURE SECTION END

// INFORMATION SECTION START

.information-section_main {
  margin-left: 180px;
  margin-top: 150px;
  margin-bottom: 15px;
  &_title {
    font-size: 48px;
    color: #FBABA6;
    font-family: 'Merriweather', serif;
  }
}

.information-section_sub {
  margin-left: 180px;
  margin-top: 15px;
  margin-bottom: 75px;
  &_title {
    font-size: 24px;
    color: #554b4b;
    font-family: 'Merriweather', serif;
  }
}

.information-section_list .table th {
  color: #FBABA6;
  font-weight: lighter;
  font-size: 18px;
  padding: 30px;
}

.information-section_list .table td {
  padding: 30px;
}

.information-section_list td:hover {
    color: #8abebe;
}

.table {
  font-size: 18px;
  font-family: 'Noto Serif TC', serif;
  color: #554b4b;
}

// INFORMATION SECTION END

// OPENING HOURS START
.opening-section {
  margin-top: 150px;
  &_main {
    margin-left: 180px;
    margin-bottom: 15px;
    &_title {
      font-size: 48px;
      color: #FBABA6;
      font-family: 'Merriweather', serif;
    }
  }
}

.opening-section_sub {
  margin-left: 180px;
  margin-top: 15px;
  margin-bottom: 100px;
  &_title {
    font-size: 24px;
    color: #554b4b;
    font-family: 'Merriweather', serif;
  }
}

.opening-section_table .table th { padding: 30px; }

.opening-section_table .table td { padding: 30px; }

// OPENING HOURS END

// SPOT SECTION START

.spot-section {
  height: 3950px;
  margin-top: 100px;
  background-color: #EFF4F4;
  &_main {
    padding-top: 100px;
    margin-left: 180px;
    margin-bottom: 15px;
    &_title {
      font-size: 48px;
      color: #FBABA6;
      font-family: 'Merriweather', serif;
    }
  } 
}

.spot-section_sub {
  margin-left: 180px;
  margin-top: 15px;
  &_title {
    font-size: 24px;
    color: #554b4b;
    font-family: 'Merriweather', serif;
  }
}


.spot-section_first_left {
  margin-top: 75px;
  &_img {
    width: 550px;
    height: 450px;
    object-fit: cover;
  }
}

.spot-section_first_right {
  padding: 100px;
  margin-top: 150px;
  &_heading {
    font-size: 48px;
    color: #FBABA6;
    font-family: 'Merriweather', serif;
  }
}

.spot-section_second_left {
  padding: 75px;
  margin-top: 75px;
  &_description {
    line-height: 1.5;
    font-size: 24px;
    color: #554b4b;
    font-family: 'Noto Serif TC', serif;
  }
}

.spot-section_second_right {
  margin-top: 75px;
  &_img {
    width: 550px;
    height: 450px;
    object-fit: cover;
    margin-bottom: 150px;
  }
}

.spot-section_third_left {
  margin-top: 100px;
  &_img {
    width: 550px;
    height: 450px;
    object-fit: cover;
  }
}

.spot-section_third_right {
  padding: 100px;
  margin-top: 175px;
  &_heading {
    font-size: 48px;
    color: #FBABA6;
    font-family: 'Noto Serif TC', serif;
  }
}

.spot-section_fourth_left {
  padding: 75px;
  margin-top: 75px;
  &_description {
    line-height: 1.5;
    font-size: 24px;
    color: #554b4b;
    font-family: 'Noto Serif TC', serif;
  }
}

.spot-section_fourth_right {
  margin-top: 75px;
  &_img {
    width: 550px;
    height: 450px;
    object-fit: cover;
    margin-bottom: 150px;
  }
}

.spot-section_fifth_left {
  margin-top: 100px;
  &_img {
    width: 550px;
    height: 450px;
    object-fit: cover;
  }
}

.spot-section_fifth_right {
  padding: 100px;
  margin-top: 175px;
  &_heading {
    font-size: 48px;
    color: #FBABA6;
    font-family: 'Noto Serif TC', serif;
  }
}

.spot-section_six_left {
  padding: 75px;
  margin-top: 75px;
  &_description {
    line-height: 1.5;
    font-size: 24px;
    color: #554b4b;
    font-family: 'Noto Serif TC', serif;
  }
}

.spot-section_six_right {
  margin-top: 75px;
  &_img {
    width: 550px;
    height: 450px;
    object-fit: cover;
  }
}

.spot-section_fadeInDown {
  -webkit-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:2.7s;
  -ms-animation-duration:2.7s;
  animation-duration:2.7s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}
// SPOT SECTION END

// ACCESS SECTION START

.access-section {
  margin-bottom: 100px;
}

.access-section_main {
  margin-left: 180px;
  margin-top: 100px;
  margin-bottom: 15px;
  &_title {
    font-size: 48px;
    color: #FBABA6;
    font-family: 'Merriweather', serif;
  }
}

.access-section_sub {
  margin-left: 180px;
  margin-top: 15px;
  margin-bottom: 100px;
  &_title {
    font-size: 24px;
    color: #554b4b;
    font-family: 'Merriweather', serif;
  }
}

.map--gray iframe{
  margin-bottom: 100px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.access-section_detail { 
  margin-bottom: 75px;
  text-align: center;
  &_heading {
    font-size: 56px;
    color: #FBABA6;
    font-family: 'Noto Serif TC', serif;
    margin-bottom: 30px;
  }
}

.access-section_detail_description_1 {
  line-height: 1.5;
  font-size: 28px;
  color: #554b4b;
  font-family: 'Noto Serif TC', serif;
}

.access-section_detail_description_1 span {
  margin-left: 15px;
}

.access-section_detail_description_2 {
  line-height: 1.5;
  font-size: 22px;
  color: #554b4b;
  font-family: 'Noto Serif TC', serif;
}

.access-section_table table th {
  font-size: 18px;
  color: #FBABA6;
  font-family: 'Noto Serif TC', serif;
  font-weight: lighter;
  padding: 30px;
}

.access-section_table table td {
  font-size: 18px;
  color: #554b4b;
  font-family: 'Noto Serif TC', serif;
  padding: 30px;
  &:hover {
    color:  #8abebe;
  }
}

// ACCESS SECTION END

// FOOTER SECTION START

.footer-section {
  height: 870px;
  width: 100%;
  background-color:  #EFF4F4;
  &_main {
    text-align: center;
    padding: 100px 0;
    &_title {
      font-size: 48px;
      color: #FBABA6;
      font-family: 'Noto Serif TC', serif;
    }
  }
}

.footer-section_left {
  padding: 30px;
  margin-bottom: 15px;
  &_heading {
    margin-left: 45px;
    font-size: 28px;
    color: #FBABA6;
    font-family: 'Noto Serif TC', serif;
  }
}

.footer-section_left_list_item {
  list-style: none;
  color: #554b4b;
}

.footer-section_left_list_item li {
  font-size: 22px;
  font-family: 'Noto Serif TC', serif;
  margin-bottom: 10px;
  &:hover {
    color: #8abebe;
  }
}

.footer-section_detail_1 {
  margin-top: 100px;
  margin-bottom: 30px;
  float: left;
}

.footer-section_detail_1_list {
  display: flex;
  list-style: none;
}

.footer-section_detail_1_list li {
  font-size: 14px;
  color: #554b4b;
  font-family: 'Noto Serif TC', serif;
  margin-left: 5px;
  &:hover {
    color: #8abebe;
  }
}

.footer-section_detail_1_list span {
  margin-left: 5px;
}

.footer-section_detail_2 {
  padding: 75px;
  float: right;
  &_description {
    font-size: 24px;
    color: #554b4b;
    font-family: 'Noto Serif TC', serif;
  }
}

// FOOTER SECTION END