// 初期設定
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

header {
  background: black;

  // headerを常時上に固定する
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // スクロールしても他のコンテンツの下にならないようにする
  z-index: 10;

  // headerに余白を作る
  padding: 30px 50px;

  // ロゴとナビゲーションを横並びにする
  display: flex;
  justify-content: space-between;
  align-items: center;

  // アニメーションの変化時間
  transition: 0.5s;

  // ロゴのデザイン
  .logo {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    // アニメーションの変化時間
    transition: 0.5s;
  }

  // ナビゲーションの項目を横並びにする
  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: white;
        margin: 0 15px;
        // アニメーションの変化時間
        transition: 0.5s;
      }
    }
  }
}

// スクロールするためのsectionの装飾
.section {
  height: 100vh;

  &.section-a {
    background: black;
  }

  &.section-b {
    background: white;
  }
}

// スクロールして.scroll-navクラスがついたときのヘッダーデザイン
header.scroll-nav {
  padding: 10px 50px;
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

// 背景が白に変化したのでロゴとナビゲーションの文字を黒にする
header.scroll-nav .logo,
header.scroll-nav ul li a {
  color: black;
}
// 共通化
:font-color {
  --accent1-color: #FBABA6;
  --accent2-color: white;
  --accent3-color: #554b4b;
  --accent4-color: #8abebe;
}

:background-color {
  --bg1-color: #EFF4F4;
}

:margin-left {
  --margin-left: margin-left: 180px;
}

:font-family {
  --font1: 'Noto Serif SC', serif;
  --font2: 'Merriweather', serif;
}

:animation-effect {
  --animation1: both;
  --animation2: 3.5s;
  --animation3: fadeInDown;
  --animation4: visible !important;
}

/* TOP PAGE START */

.page-top_image {
  max-width: 100%;
  min-height: 100vh;
  &_layout {
    width: 1440px;
    height: 800px;
    object-fit: cover;
    filter: brightness(120%);
    animation: SlideIn 2.7s ;
    animation-delay: 4.0s;
    animation-fill-mode: backwards;
  }
}


@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-top-main {
  position: fixed;
  top: 40%;
  left: 18%;
  &_title {
  font-size: 96px;
  color: var(--accent1-color);
  font-family: var(--font1);
  }
}

.site-header {
  transition: all 1.0s;
  position: fixed;
  background: #FBABA6;
  width: 100%;
  z-index: 10;
  &_title {
    top: 1%;
    left: 5%;
    float: left;
    padding: 50px;
    color: var(--accent2-color);
    animation: SlideIn 2.7s;
    animation-delay: 6.5s;
    animation-fill-mode: backwards;
    font-family: var(--font1);
    font-size: 56px;
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.global-navigation {
  position: fixed;
  display: flex;
  top: 2%;
  left: 45%;
  &_menu {
    float: right;
    list-style: none;
    &_item {
      font-size: 20px;
      float: left;
      padding-right: 30px;
      font-family: var(--font1);
      &_list {
        color: var(--accent2-color);
        animation: SlideIn 2.7s;
        animation-delay: 6.5s;
        animation-fill-mode: backwards;
        font-family: var(--font1);
        &_:hover {
          color:  var(--accent1-color);
          text-decoration: none;
        }
      }
    }
  }
}

.page-top_description {
  padding-bottom: 100px;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.global-navigation_menu_item a {
  position: relative;
  display: inline-block;
  transition: .5s;
  &:hover {
    text-decoration: none;
    color: var(--accent1-color);
  }
}

.global-navigation_menu_item a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  transition: .3s;
}

.global-navigation_menu_item a:hover::after {
  width: 100%;
}

/* TOP PAGE END */

/* SECOND SECTION START */

.second-section {
  height: 1100px;
  width: 100%;
  &_content {
    text-align: center;
  }
}
.second-section_sub_title {
  line-height: 1.7;
  margin-bottom: 200px;
  &_list {
    font-size: 36px;
    font-family: var(--font1);
    letter-spacing: 2.5px;
  }
}
.second-section_main {
  margin-bottom: 75px;
  text-align: center;
  &_title {
    margin-top: 150px;
    font-size: 84px;
    color: #FBABA6;
    font-family: 'Noto Serif TC', serif;
  }
}

.second-section_fadeInDown {
  -webkit-animation-fill-mode: var(--animation1);
  -ms-animation-fill-mode: var(--animation1);
  animation-fill-mode: var(--animation1);
  -webkit-animation-duration: var(--animation2);
  -ms-animation-duration: var(--animation2);
  animation-duration: var(--animation2);
  -webkit-animation-name: var(--animation3);
  animation-name: var(--animation3);
  visibility: var(--animation4);
}



@-webkit-keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

.second-section_image {
  max-width: 100%;
  min-height: 100vh;
  &_img {
    width: 1440px;
    height: 650px;
    object-fit: cover;
    filter: brightness(90%);
  }
}

/* SECOND SECTION END */

/* VIEW SECTION START */

.view-section {
  margin-top: 125px;
  &_title {
    margin-left: 180px;
    &_name {
      font-size: 56px;
      color: var(--accent1-color);
      font-family: var(--font2);
    }
  }
}

.view-first_left {
  margin-top: 75px;
  &_img {
    width: 550px;
    height: 450px;
    object-fit: cover;
  }
}

#animation {
  margin: 50px 0;
  font-size: 40px;
  font-weight: bold;
  color: #ff0000;
  }

  .view-section_fadeInDown {
  -webkit-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:3.0s;
  -ms-animation-duration:3.0s;
  animation-duration:3.0s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
  }
  @-webkit-keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(0px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
  }
  @keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

.view-first_right {
  padding: 50px;
  &_heading {
    font-size: 56px;
    color: var(--accent1-color);
    margin-top: 75px;
    font-family: var(--font2);
  }
}

.first-description { line-height: 1.5; }

.view-first_right_description {
  font-size: 32px;
  font-family: var(--font1);
  letter-spacing: 2.0px;
}

#animation {
  margin: 50px 0;
  font-size: 40px;
  font-weight: bold;
  color: #ff0000;
  }

.view-second_left {
  padding: 50px;
  &_heading {
    font-size: 56px;
    color: #FBABA6;
    margin-top: 75px;
    font-family: 'Merriweather', serif;
  }
}

.view-second_left_description {
  font-size: 32px;
  font-family: 'Noto Serif TC', serif;
  letter-spacing: 2.0px;
}

.second-description { line-height: 1.5; }

.view-second_right_img {
  width: 550px;
  height: 450px;
  object-fit: cover;
  margin-top: 75px;
}

.view-third_left {
  margin-top: 75px;
  &_img {
    width: 550px;
    height: 450px;
    object-fit: cover;
  }
}

.view-third_right {
  padding: 50px;
  &_heading {
    font-size: 56px;
    color: #FBABA6;
    margin-top: 75px;
    font-family: var(--font2);
  }
}

.third-description { line-height: 1.5; }

.view-third_right_description {
  font-size: 32px;
  font-family: var(--font1);
  letter-spacing: 2.5px;
}

.view-third_sub {
  text-align: center;
  line-height: 1,5;
  margin-top: 100px;
  margin-bottom: 150px;
  &_title {
    color: var(--accent1-color);
    font-size: 36px;
    font-family: var(--font1);
    letter-spacing: 2.0px;
  }
}/* VIEW SECTION END */

/* EXPERIENCE SECTION START */
.experience-section {
  background-color: var(--bg1-color);
  height: 2050px;
  &_main {
    margin-left: 180px;
    padding-top: 150px;
    &_title {
      color:  var(--accent1-color);
      font-size: 56px;
      font-family: var(--font2);
    }
  }
}

.experience-section_sub {
  margin-left: var(--margin-left);
  padding-top: 15px;
  &_title {
    color: var(--accent3-color);
    font-family: var(--font2);
  }
}


.experience-first_left {
  margin-top: 75px;
  &_img {
    width: 550px;
    height: 450px;
    object-fit: cover;
  }
}

.experience-first_right {
  padding: 50px;
  margin-top: 75px;
  &_heading {
    font-family: var(--font1);
    font-size: 36px;
    color: var(--accent1-color);
    letter-spacing: 2.0px;
  }
}

.experience-first_right p {
  margin-top: 30px;
  line-height: 1.5;
  font-size: 24px;
  font-family: var(--font1);
  letter-spacing: 1.5px;
}

.experience-second_left {
  margin-top: 75px;
  &_img {
    width: 550px;
    height: 450px;
    object-fit: cover;
  }
}

.experience-second_right {
  padding: 50px;
  margin-top: 75px;
  &_heading {
    font-family: var(--font1);
    font-size: 36px;
    color: var(--accent1-color);
    letter-spacing: 2.0px;
  }
}

.experience-second_right p {
  margin-top: 30px;
  line-height: 1.5;
  font-size: 24px;
  font-family: var(--font1);
  letter-spacing: 1.5px;
}

.experience-third_left {
  margin-top: 75px;
  &_img {
    width: 550px;
    height: 450px;
    object-fit: cover;
  }
}

.experience-third_right {
  padding: 50px;
  margin-top: 75px;
  &_heading {
    font-family: var(--font1);
    font-size: 36px;
    color: #FBABA6;
    letter-spacing: 2.0px;
  }
}

.experience-third_right p {
  margin-top: 30px;
  line-height: 1.5;
  font-size: 24px;
  font-family: var(--font1);
  letter-spacing: 1.5px;
}


.experience-section_fadeInDown {
  -webkit-animation-fill-mode: var(--animation1);
  -ms-animation-fill-mode: var(--animation1);
  animation-fill-mode: var(--animation1);
  -webkit-animation-duration: var(--animation2);
  -ms-animation-duration: var(--animation2);
  animation-duration: var(--animation2);
  -webkit-animation-name: var(--animation3);
  animation-name: var(--animation3);
  visibility: var(--animation4);
}
@-webkit-keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(0px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

// ENJOYMENT SECTION START

.enjoyment-section {
  height: 2600px;
  background-color: var(--bg1-color);
  &_main {
    margin-left: var(--margin-left);
    padding-top: 50px;
    &_title {
      font-size: 56px;
      color: var(--accent1-color);
      font-family: var(--font2);
    }
  }
}


.enjoyment-section_sub {
  margin-left: var(--margin-left);
  &_title {
    font-size: 28px;
    color:var(--accent3-color);
    font-family: var(--font2);
  }
}

.enjoyment-section_first_left {
  margin-top: 100px;
}

.enjoyment-section_first_right {
  padding: 60px;
  margin-top: 100px;
  &_heading {
    font-size: 36px;
    color: var(--accent1-color);
    font-family: var(--font1);
    margin-bottom: 15px;
    letter-spacing: 1.5px;
  }
}

.enjoyment-section_first_right p {
  line-height: 1,5;
  font-size: 24px;
  color: var(--accent3-color);
  margin-top: 15px;
  letter-spacing: 1.5px;
  font-family: var(--font1);
  width: 425px;
}

.enjoyment-section_second_left {
  padding: 60px;
  margin-top: 100px;
  &_heading {
    font-size: 36px;
    color: var(--accent1-color);
    font-family: var(--font1);
    margin-bottom: 15px;
    letter-spacing: 1.5px;
  }
}

.enjoyment-section_second_left p {
  font-size: 24px;
  color: var(--accent3-color);
  line-height: 1.5;
  margin-top: 15px;
  letter-spacing: 1.5px;
  font-family: var(--font1);
  width: 425px;
}

.enjoyment-section_second_right {
  margin-top: 100px;
}

.enjoyment-section_third_left {
  margin-top: 100px;
}

.enjoyment-section_third_right {
  padding: 60px;
  margin-top: 100px;
  &_heading {
    font-size: 36px;
    color:var(--accent1-color);
    font-family: var(--font1);
    margin-bottom: 15px;
    letter-spacing: 1.5px;
  }
}

.enjoyment-section_third_right p {
  font-size: 24px;
  color: var(--accent3-color);
  line-height: 1.5;
  margin-top: 15px;
  letter-spacing: 1.5px;
  font-family: var(--font1);
  width: 425px;
}

.enjoyment-section_fourth_left {
  padding: 60px;
  margin-top: 100px;
  &_heading {
    font-size: 36px;
    color: var(--accent1-color);
    font-family: var(--font1);
    margin-bottom: 15px;
  }
}

.enjoyment-section_fourth_left p {
  font-size: 24px;
  color: var(--accent3-color);
  line-height: 1.5;
  margin-top: 15px;
}

.enjoyment-section_fourth_right {
  margin-top: 100px;
}

.enjoyment-section_fadeInDown {
  -webkit-animation-fill-mode: var(--animation1);
  -ms-animation-fill-mode: var(--animation1);
  animation-fill-mode: var(--animation1);
  -webkit-animation-duration: var(--animation2);
  -ms-animation-duration: var(--animation2);
  animation-duration: var(--animation2);
  -webkit-animation-name: var(--animation3);
  animation-name: var(--animation3);
  visibility: var(--animation4);
}
@-webkit-keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(0px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

// ENJOYMENT SECTION END

// PICTURE SECTION START

.photo-gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  &_single {
    position: relative;
    display: block;
    width: 14.28%;
    overflow: hidden;
    color:  #000000;
    &::before {
    content: '';
    display: block;
    padding-top: 100%;
    }
  }
}

.photo-gallery_single a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.photo-gallery_single a img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  outline: none;
  border: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.photo-gallery_single_img {
  width: 330px;
  height: 330px;
  object-fit: fill;
  &:hover {
    opacity: 0.4;
    filter: brightness(75%);
  }
}

.picture-section_main {
  margin-left: var(--margin-left);
  margin-top: 100px;
}

.picture-section_main_title {
  font-size: 56px;
  color: var(--accent1-color);
  font-family: var(--font2);
  margin-bottom: 15px;
}

.picture-section_sub {
  margin-left: var(--margin-left);
  margin-bottom: 100px;
}

.picture-section_sub_title {
  font-size: 28px;
  color: var(--accent3-color);
  font-family: var(--font2);
  margin-top: 15px;
}
// PICTURE SECTION END

// INFORMATION SECTION START

.information-section_main {
  margin-left: var(--margin-left);
  margin-top: 150px;
  margin-bottom: 15px;
  &_title {
    font-size: 48px;
    color: var(--accent1-color);
    font-family: var(--font2);
  }
}

.information-section_sub {
  margin-left: var(--margin-left);
  margin-top: 15px;
  margin-bottom: 75px;
  &_title {
    font-size: 24px;
    color: var(--accent3-color);
    font-family: var(--font2);
  }
}

.information-section_list .table th {
  color: var(--accent1-color);
  font-weight: lighter;
  font-size: 18px;
  padding: 30px;
}

.information-section_list .table td {
  padding: 30px;
  letter-spacing: 2.0px;
}

.information-section_list td:hover {
    color: var(--accent4-color);
}

.table {
  font-size: 18px;
  font-family: var(--font1);
  color: var(--accent3-color);
}

// INFORMATION SECTION END

// OPENING HOURS START
.opening-section {
  margin-top: 150px;
  margin-bottom: 125px;
  &_main {
    margin-left: var(--margin-left);
    margin-bottom: 15px;
    &_title {
      font-size: 48px;
      color:var(--accent1-color);
      font-family: var(--font2);
    }
  }
}

.opening-section_sub {
  margin-left: var(--margin-left);
  margin-top: 15px;
  margin-bottom: 100px;
  &_title {
    font-size: 24px;
    color: var(--accent3-color);
    font-family: var(--font2);
  }
}

.opening-section_table .table th {
  padding: 30px;
  font-size: 20px;
}

.opening-section_table .table td {
  padding: 30px;
  font-size: 20px;
}

// OPENING HOURS END

// SPOT SECTION START

.spot-section_1 {
  height: 1274px;
  background-color: var(--bg1-color);
  &_main {
    margin-left: var(--margin-left);
    padding-top: 100px;
    margin-bottom: 15px;
    &_title {
      font-size: 56px;
      color: var(--accent1-color);
      font-family: var(--font2);
    }
  }
}

.spot-section_sub {
    margin-left: var(--margin-left);
    margin-top: 15px;
    &_title {
      font-size: 28px;
      color: var(--accent3-color);
      font-family: var(--font2);
    }
}

.spot-section_first_title {
  text-align: center;
  margin-top: 200px;
  font-size: 48px;
  color:var(--accent1-color);
  font-family: var(--font2);
}

.spot-section_first_left {
  margin-top: 100px;
  margin-right: 30px;
  &_img {
    width: 500px;
    height: 350px;
  }
}

.spot-section_first_right {
  margin-top: 100px;
  margin-left: 30px;
  &_img {
    width: 500px;
    height: 350px;
  }
}

.spot-section_first_description_content {
  text-align: center;
  font-size: 24px;
  margin-top: 100px;
  font-family: var(--font1);
  margin-bottom: 100px;
}

.spot-section_2 {
  height: 940px;
  background-color: var(--bg1-color);
}

.spot-section_second_main_title {
  text-align: center;
  padding-top: 100px;
  font-size: 48px;
  color:var(--accent1-color);
  font-family: var(--font2);
}

.spot-section_second_left {
  margin-top: 100px;
  margin-right: 30px;
  &_img {
    width: 500px;
    height: 350px;
  }
}

.spot-section_second_right {
  margin-top: 100px;
  margin-left: 30px;
  &_img {
    width: 500px;
    height: 350px;
  }
}

.spot-section_second_description_content {
  text-align: center;
  font-size: 24px;
  margin-top: 100px;
  font-family: var(--font1);
  margin-bottom: 100px;
}

.spot-section_3 {
  height: 940px;
  background-color: var(--bg1-color);
}

.spot-section_third_main_title {
  padding-top: 100px;
  text-align: center;
  font-size: 48px;
  color: var(--accent1-color);
  font-family: var(--font1);
}

.spot-section_third_left {
  margin-top: 100px;
  margin-right: 30px;
  &_img {
    width: 500px;
    height: 350px;
  }
}

.spot-section_third_right {
  margin-top: 100px;
  margin-left: 30px;
  &_img {
    width: 500px;
    height: 350px;
  }
}

.spot-section_third_description_content {
  text-align: center;
  font-size: 24px;
  margin-top: 100px;
  font-family: var(--font1);
  margin-bottom: 100px;
}

.spot-section_4 {
  height: 940px;
  background-color: var(--bg1-color);
}

.spot-section_fourth_main_title {
  text-align: center;
  padding-top: 100px;
  font-size: 48px;
  color:var(--accent1-color);
  font-family: var(--font1);
  }

.spot-section_fourth_left {
  margin-top: 100px;
  margin-right: 30px;
  &_img {
    width: 500px;
    height: 350px;
  }
}

.spot-section_fourth_right {
  margin-top: 100px;
  margin-left: 30px;
  &_img {
    width: 500px;
    height: 350px;
  }
}

.spot-section_fourth_description_content {
  text-align: center;
  font-size: 24px;
  margin-top: 100px;
  font-family: var(--font1);
  margin-bottom: 100px;
}

.spot-section_fadeInDown {
  -webkit-animation-fill-mode: var(--animation1);
  -ms-animation-fill-mode: var(--animation1);
  animation-fill-mode: var(--animation1);
  -webkit-animation-duration: var(--animation2);
  -ms-animation-duration: var(--animation2);
  animation-duration: var(--animation2);
  -webkit-animation-name: var(--animation3);
  animation-name: var(--animation3);
  visibility: var(--animation4);
}
@-webkit-keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(0px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

// SPOT SECTION END

// ACCESS SECTION START

.access-section {
  margin-bottom: 100px;
}

.access-section_main {
  margin-left: var(--margin-left);
  margin-top: 100px;
  margin-bottom: 15px;
  &_title {
    font-size: 48px;
    color: var(--accent1-color);
    font-family: var(--font2);
  }
}

.access-section_sub {
  margin-left: var(--margin-left);
  margin-top: 15px;
  margin-bottom: 100px;
  &_title {
    font-size: 24px;
    color: var(--accent3-color);
    font-family: var(--font2);
  }
}

.map { margin-bottom: 100px; }

.access-section_detail {
  margin-bottom: 75px;
  text-align: center;
  &_heading {
    font-size: 56px;
    color: var(--accent1-color);
    font-family: var(--font1);
    margin-bottom: 30px;
  }
}

.access-section_detail_description_1 {
  line-height: 1.5;
  font-size: 28px;
  color:var(--accent3-color);
  font-family: var(--font1);
}

.access-section_detail_description_1 span {
  margin-left: 15px;
  letter-spacing: 2.0px;
}

.access-section_detail_description_2 {
  line-height: 1.5;
  font-size: 22px;
  color:var(--accent3-color);
  letter-spacing: 3.0px;
  font-family: var(--font1);
  margin-bottom: 125px;
}

.access-section_table table th {
  font-size: 18px;
  color: var(--accent1-color);
  font-family: var(--font1);
  font-weight: lighter;
  padding: 30px;
}

.access-section_table table td {
  font-size: 18px;
  color:var(--accent3-color);
  font-family: var(--font1);
  padding: 30px;
  letter-spacing: 3.0px;
  &:hover {
    color:  var(--accent4-color);
  }
}

.car {
  margin-right: 8px;
}

.bus {
  margin-right: 8px;
}

.bicycle {
  margin-right: 8px;
}

.taxi {
  margin-right: 8px;
}

// ACCESS SECTION END

// FOOTER SECTION START


.footer-section {
  height: 870px;
  width: 100%;
  background-color:  var(--bg1-color);
  &_main {
    text-align: center;
    padding: 100px 0;
    &_title {
      font-size: 48px;
      color: var(--accent1-color);
      font-family: var(--font1);
    }
  }
}

.footer-section_left {
  padding: 30px;
  margin-bottom: 15px;
  &_heading {
    margin-left: 45px;
    font-size: 28px;
    color: var(--accent1-color);
    font-family: var(--font1);
  }
}

.footer-section_left_list_item {
  list-style: none;
  color: var(--accent3-color);
}

.footer-section_left_list_item li {
  font-size: 22px;
  letter-spacing: 2.0px;
  font-family: var(--font1);
  margin-bottom: 10px;
  &:hover {
    color: var(--accent4-color);
  }
}

.footer-section_detail_1 {
  margin-top: 100px;
  margin-bottom: 30px;
  float: left;
}

.footer-section_detail_1_list {
  display: flex;
  list-style: none;
}

.footer-section_detail_1_list li {
  font-size: 14px;
  color: var(--accent3-color);
  font-family: var(--font1);
  margin-left: 5px;
  &:hover {
    color: var(--accent4-color);
  }
}

.footer-section_detail_1_list span {
  margin-left: 5px;
}

.footer-section_detail_2 {
  padding: 75px;
  float: right;
  &_description {
    font-size: 24px;
    color: var(--accent3-color);
    font-family: var(--font1);
  }
}

.footer-section_left_list_item a {
  color: var(--accent3-color);
  &:hover {
    text-decoration: none;
  }
}

// FOOTER SECTION END
