/* TOP PAGE START */

.page-top-image {
  max-width: 100%;
  min-height: 100vh;
}

.page-top-image-img {
  width: 1440px;
  height: 800px;
  object-fit: cover;
  filter: brightness(88%);
  animation: SlideIn 2.7s ;
  animation-delay: 4.0s;
  animation-fill-mode: backwards;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-top-title {
  position: fixed;
  top: 40%;
  left: 18%;
}

.page-top-title h1 {
  font-size: 96px;
  color: #F8ABA6;
}

.site-header {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
}

.site-header .site-title {
  position: fixed;
  top: 2%;
  left: 5%;
  float: left;
  padding: 50px;
  color: white;
  animation: SlideIn 2.7s;
  animation-delay: 6.5s;
  animation-fill-mode: backwards;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


#global-navigation {
  position: fixed;
  display: flex;
  top: 2%;
  left: 45%;
}

.global-navigation-menu {
  float: right;
  padding: 60px;
  list-style: none;
}

.global-navigation-menu-item {
  font-size: 20px;
  float: left;
  padding-right: 30px;
}

.global-navigation-menu-item-list {
  color: white;
  animation: SlideIn 2.7s;
  animation-delay: 6.5s;
  animation-fill-mode: backwards;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.global-navigation-menu-item-list:hover {
  color:  #F8ABA6;
  text-decoration: none;
}

a {
  position: relative;
  display: inline-block;
  transition: .3s;
}

a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  background-color: #F8ABA6;
  transition: .3s;
}
a:hover::after {
  width: 100%;
}

/* TOP PAGE END */

/* SECOND SECTION START */

.second-section {
  height: 1000px;
  width: 100%;
}

.second-section-content { text-align: center; }

.secomd-section-title { margin-bottom: 100px; }

.second-section-main-title {
  margin-top: 100px;
  font-size: 84px;
  color: #FBABA6;
}

.second-section-sub-title {
  line-height: 1.7;
  margin-bottom: 150px;
}

.second-section-sub-title-list { font-size: 36px; }

.second-section-image {
  max-width: 100%;
  min-height: 100vh;
}

.second-section-img {
  width: 1440px;
  height: 550px;
  object-fit: cover;
  filter: brightness(110%);
}

